Explorando la evolucion de lego | Proyecto

In [1]:
import pandas as pd

In [2]:
df_lego = pd.read_csv('C:/Users/ASUS-72937/Documents/curso-py/parte 1/lego_sets.csv')
df_lego.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [3]:
df_themes = pd.read_csv('C:/Users/ASUS-72937/Documents/curso-py/parte 1/parent_themes.csv')
df_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [4]:
#Unir las bases de datos 
merged = df_lego.merge(df_themes, left_on = 'parent_theme', right_on = 'name')
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [5]:
#Eliminar la columa duplicada
merged.drop(columns= 'name_y', inplace = True)

In [6]:
#Ubicar aquellos sets con las licencias de la marca
licensed = merged[merged['is_licensed']]
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [7]:
#Checar si hay numero de sets  repetidas
licensed[licensed['set_num'].isnull()].shape

(153, 8)

In [8]:
#Eliminar los numeros de sets repetidos
licensed = licensed.dropna(subset = ['set_num'])

In [9]:
#Checar la cantidad de  sets con licencia de star wars
star_wars_check = licensed[licensed['parent_theme'] == 'Star Wars']
star_wars_check.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [10]:
star_wars_check.shape

(609, 8)

In [11]:
#Porcentaje que representa star wars del total de licencias 
star_wars_percentage = int(star_wars_check.shape[0]/licensed.shape[0]*100)
print(star_wars_percentage)

51

In [12]:
#Contar el numero de sets lanzados por año de los distintos temas
licensed_sorted = licensed.sort_values('year')
licensed_sorted['count'] = 1

In [13]:
#Odernar la suma de licencias por año
sum_licensed_year = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()
sum_licensed_year.head()

,year,parent_theme,set_num,name_x,num_parts,theme_name,id,is_licensed,count
0,1999,Star Wars,7161-17171-17140-17130-17128-17141-17121-17131...,Gungan SubMos Espa PodraceX-wing FighterSnowsp...,1384.0,Star Wars Episode 1Star Wars Episode 1Star War...,2054,13,13
1,2000,Disney's Mickey Mouse,4165-14167-14166-14164-14178-1,Minnie's Birthday PartyMickey's MansionMickey'...,405.0,Disney's Mickey MouseDisney's Mickey MouseDisn...,1940,5,5
2,2000,Star Wars,7134-13341-17159-17144-17124-17115-17104-14151...,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
3,2001,Harry Potter,4723-14707-14722-14721-14709-14701-14702-14704...,Diagon Alley ShopsHagrid's HutGryffindorHogwar...,1284.0,Sorcerer's StoneSorcerer's StoneSorcerer's Sto...,2706,11,11
4,2001,Star Wars,7166-17186-165028-165030-165034-18007-18008-17...,Imperial ShuttleWatto's JunkyardStar Wars Co-P...,2949.0,Star Wars Episode 4/5/6Star Wars Episode 1Star...,2212,14,14

In [14]:
#Tema con la mayor cantidad de licencias por año | Eliminar duplicados en los años
max_licensed = sum_licensed_year.sort_values('count', ascending = False).drop_duplicates(['year'])

In [15]:
#Eliminar columnas que no son necesarias para el ejercicio
max_licensed.drop(['set_num', 'theme_name'], axis = 1, inplace = True)

In [16]:
#Establecer el order con la mayor cantidad de licencias por año
max_licensed.sort_values('count', ascending = False)

,year,parent_theme,name_x,num_parts,id,is_licensed,count
82,2017,Super Heroes,"Wonder Woman"" Warrior BattleBatmanThe MilanoTh...",13123.0,34704,72,72
76,2016,Star Wars,Krennic’s Imperial ShuttleCaptain Rex’s AT-TED...,6934.0,9638,61,61
67,2015,Star Wars,Rey's Speeder™SnowspeederMini Slave 1Imperial ...,11410.0,9164,58,58
59,2014,Star Wars,Coruscant Police GunshipRepublic AV-7 Anti-Veh...,8293.0,7110,45,45
47,2012,Star Wars,"Star Wars Super Pack 3 in 1 (9490, 9492, 9496)...",6769.0,6794,43,43
32,2009,Star Wars,Venator-Class Republic Attack CruiserGeneral G...,3953.0,6162,39,39
52,2013,Star Wars,Republic Troopers vs. Sith TroopersClone Troop...,6159.0,5530,35,35
9,2003,Star Wars,Star Wars Miniatures Kit IStar Wars Miniatures...,6660.0,5056,32,32
42,2011,Star Wars,Star Wars Super Pack 3 in 1 (7877 7929 7913)St...,3451.0,5056,32,32
36,2010,Star Wars,Midi-Scale Imperial Star DestroyerSnowtrooper ...,6003.0,4740,30,30
16,2005,Star Wars,ARC-170 StarfighterWookiee AttackJedi Starfigh...,4730.0,4424,28,28
6,2002,Star Wars,Jango Fett™Jango Fett's Slave I (Set 7153) wit...,4735.0,4424,28,28
2,2000,Star Wars,A-wing FighterStar Wars #2 - Luke/Han/Boba Min...,2580.0,4108,26,26
28,2008,Star Wars,Clone Wars Pack - San Diego Comic-Con 2008 Exc...,6865.0,3634,23,23
12,2004,Star Wars,Y-wing Attack Starfighter - UCSTIE Fighter and...,1659.0,3160,20,20
24,2007,Star Wars,Naboo N-1 Starfighter and Vulture DroidImperia...,11361.0,2528,16,16
4,2001,Star Wars,Imperial ShuttleWatto's JunkyardStar Wars Co-P...,2949.0,2212,14,14
0,1999,Star Wars,Gungan SubMos Espa PodraceX-wing FighterSnowsp...,1384.0,2054,13,13
20,2006,Star Wars,Vader's TIE Advanced - UCSImperial AT-ST - UCS...,2769.0,1738,11,11